{% include 'base.html' %}
{% load static %} 
<link rel="stylesheet" href="/static/styles/style.css">
<title>Управление справочниками</title> 
<section id="contact"> 
			{% block content %}
<h2>Управление справочниками</h2>

<h3>Статусы</h3>
    <div>
        <input type="text" id="new-status-name" placeholder="Новое название статуса"/>
        <button onclick="addStatus()">Добавить статус</button>
        <ul id="status-list"></ul>
    </div>
<h3>Типы</h3>
    <div>
        <input type="text" id="new-type-name" placeholder="Новое название типа"/>
        <button onclick="addType()">Добавить тип</button>
        <ul id="tipe-list"></ul>
    </div>
<h3>Категории</h3>
    <div>
        <input type="text" id="new-category-name" placeholder="Новое название категории"/>
        <button onclick="addCategory()">Добавить категорию</button>
        <ul id="category-list"></ul>
    </div>
    </form>
    
{% endblock %}

