{% include 'base.html' %}
{% load static %} 
<head>
<link rel="stylesheet" href="/static/styles/style.css">
<title>Главная страница</title> 
<section class="home"> 
</head>
{% block content %}
<h1>Записи движения денежных средств</h1>
<img src="{% static 'images/mani.png' %}" width="200" height="200"> 
<form method="get">
    <input type="date" name="date">
    <select name="status">
        <option value="">Все статусы</option>
        <option value="busines">Бизнес</option>
        <option value="personal">Личное</option>
        <option value="tax">Налог</option>
    </select>
    <select name="type">
        <option value="">Все типы</option>
        <option value="plus">Пополнение</option>
        <option value="minus">Списание</option>
    </select>
    <select name="category">
        <option value="">Все категории</option>
        <option value="infrastructure">Инфраструктура</option>
        <option value="marketing">Маркетинг</option>
    </select>
    <input type="number" min="0" placeholder="Введите сумму" name="summ">
    <input type="text" placeholder="Введите комментарий (Не обязательно)" name="comment">
    <!-- Аналогичные фильтры для type, category -->
    <button type="submit">Фильтровать</button>
</form>

<table>
    <tr>
        <th>Дата</th>
        <th>Статус</th>
        <th>Тип</th>
		<th>Категория</th>
        <th>Подкатегория</th>
        <th>Сумма</th>
        <th>Комментарий</th>

    </tr>
    {% for DDSRecord in DDSRecords %}
    <tr>
        <td>{{ DDSRecords.date }}</td>
        <td>{{ DDSRecords.status.name }}</td>
        <td>{{ DDSRecords.type }}</td>
		<td>{{ DDSRecords.category }}</td>
        <td>{{ DDSRecords.subcategory }}</td>
        <td>{{ DDSRecords.amount }}</td>
        <td>{{ DDSRecords.comment }}</td>

    </tr>
    {% endfor %}
</table>
{% endblock %}
